html {
  height: 100%;
}
body {
  background-color: #f5f8fa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg.octopus {
  position: absolute;
  width: 24pt;
  height: 22pt;
  left: 50%;
  margin-left: -17pt;
  margin-top: 8px;

  g {
    stroke: #000;
    stroke-width: 0;
    transition: fill .3s ease-out;
    transform: translate(0, 406px) scale(0.1, -0.1);
  }
}
.auth-content svg.octopus {
  width: 65pt;
  height: 60pt;
  margin: 0;
  position: relative;
  left: 0;
}
svg.octopus:hover g {
  /*fill: #005a9c;*/
}
.auth-content .login .octopus,
.auth-content .registrar .octopus {
  width: 100%;
}

.container {
  position: relative;
  width: 890px;
  margin: 0 auto;
}

.topbar {
  border-bottom: 1px solid #e1e8ed;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  z-index: 1000;
}
.global-nav {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.14),0 3px 1px -2px
    rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  height: 46px;
  position: relative;
  width: 100%;

  .container {
    max-width: 890px;
    text-align: center;
    width: auto;
    height: 46px;
  }

  img.profile {
    width: 20px;
    border-radius: 3px;
    margin-right: 5px;
  }
}

.page-outer {
  height: 100%;

  .wrapper {
    margin: 0 auto;
    min-height: 0;
    padding: 20px 23px;
    position: relative;
    width: 890px;

    .navigation {
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin-bottom: 10px;

      .personal-apps-link {
        padding: 5px 10px;
        font-size: 15pt;
        text-decoration: none;

        .fa-user {
          margin-right: 5px;
        }
      }

      .personal-apps-link:hover {
        background-color: #eef1f6;
        border-radius: 3px;
      }

      .new-app-link {
        float: right;
      }
    }
  }

  .auth-wrapper {
    margin: 0 auto;
    min-height: 0;
    padding: 0;
    position: relative; width: 890px;
  }
}

@media (min-width: 1236px) {
  .page-outer .wrapper-home,
  .page-outer .wrapper-auth {
    width: 1190px;
  }
  .global-nav .container {
    max-width: 1190px;
  }
}

.app-content {
  padding: 56px 14px 15px;
  position: relative;
}
.auth-content {
  padding: 0;
  position: relative;
}

.auth-content .login,
.auth-content .registrar {
  width: 300px;
  margin: 120px auto 0 auto;

  .github-login {
    width: 100%;
    font-size: 15px;

    .fa-github {
      margin-right: 5px;
    }
  }
}
.auth-content .login input.password {
  text-align: center;
}
.b-btn {
  box-shadow: 0 1px 0 #fff;
  height: 32px;
  line-height: 11px;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  background-color: #1da1f2;
  padding: 8px 16px;
  margin: 10px 0 0 0;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
  border: 1px solid #3b88c3;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;}
.b-btn:hover {
  background-color: #0084B4;
}
.b-btn:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 132, 180, 0.5);
}

.global-nav .user-panel {
  float: right;

  .username {
    margin-right: 10px;
  }

  .logout {
    line-height: 46px;
  }

  .dropdown {
    display: inline-block;
    float: none !important;
    margin: 0;

    ul {
      margin: 5px -5px 0 0;
    }
  }

  .dropdown.open {
    ul {
      display: block;
    }
  }
}

.login-form {
  padding-top: 15px;
}

.alert {
  padding: 15px;
  margin: 0;
}
.alert.alert-error {
  color: red;
}
.alert.alert-success {
  color: green;
}

pre {
  font-size: 10pt;
  display: block;
  color: #060;
  background-color: #f8fff8;
  border-color: #f0fff0;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

pre.badcode {
  color: #c00;
  background-color: #fff8f8;
  border-color: #fff0f0;
}

.card {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px
    rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.gems {
  li {
    font-size: 13pt;
    line-height: 34px;
    padding: 0 5px;
    cursor: pointer;
    border-bottom: 1px solid #e7ebf3;
  }

  li:last-child {
    border-bottom: 0;
  }

  li:hover {
    background-color: #f7f8fb
  }

  .tools {
    float: right;
    height: 100%;
    line-height: 35px;
    font-size: 11pt;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: relative;;
  left: 50%;
  width: 35px;
  height: 35px;

  & .path {
    stroke: #190321;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.create-form {
  padding: 15px 5px;
}

.tabs-container {
  .tabs {
    margin-bottom: 10px;
    box-shadow: inset 0 -1px 0 #e7ebf3;
    width: 100%;

    li {
      display: inline-block;
      position: relative;
      font-size: 15px;
      padding: 10px;
      color: #96a3b6;
      cursor: pointer;
    }

    li:hover::after,
    .ReactTabs__Tab--selected::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: 0;
      content: '';
    }

    li:hover::after {
      border-bottom: 1px solid #cfd7e6;
    }

    .ReactTabs__Tab--selected::after,
    .ReactTabs__Tab--selected:hover::after {
      border-bottom: 1px solid #79589f;
    }
  }
}
