html {
  height: 100%;
}
body {
  background-color: #f5f8fa;
}

svg.octopus {
  position: absolute;
  width: 24pt;
  height: 22pt;
  left: 50%;
  margin-left: -17pt;
  margin-top: 8px;

  g {
    stroke: #000;
    stroke-width: 0;
    transition: fill .3s ease-out;
    transform: translate(0, 406px) scale(0.1, -0.1);
  }
}
.auth-content svg.octopus {
  width: 65pt;
  height: 60pt;
  margin: 0;
  position: relative;
  left: 0;
}
svg.octopus:hover g {
  /*fill: #005a9c;*/
}
.auth-content .login .octopus,
.auth-content .registrar .octopus {
  width: 100%;
}

.container {
  position: relative;
  width: 890px;
  margin: 0 auto;
}

.topbar {
  border-bottom: 1px solid #e1e8ed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  z-index: 1000;
}
.global-nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 46px;
  position: relative;
  width: 100%;

  .container {
    max-width: 890px;
    text-align: center;
    width: auto;
    height: 46px;
  }
}

.page-outer {
  height: 100%;

  .wrapper {
    margin: 0 auto;
    min-height: 0;
    padding: 56px 23px 15px;
    position: relative;
    width: 890px;
  }

  .auth-wrapper {
    margin: 0 auto;
    min-height: 0;
    padding: 0;
    position: relative; width: 890px;
  }
}

@media (min-width: 1236px) {
  .page-outer .wrapper-home,
  .page-outer .wrapper-auth {
    width: 1190px;
  }
  .global-nav .container {
    max-width: 1190px;
  }
}

.app-content {
  padding: 56px 14px 15px;
  position: relative;
}
.auth-content {
  padding: 0;
  position: relative;
}

.auth-content .login,
.auth-content .registrar {
  width: 300px;
  margin: 120px auto 0 auto;
}
.auth-content .login input.password {
  text-align: center;
}
.b-btn {
  box-shadow: 0 1px 0 #fff;
  height: 32px;
  line-height: 11px;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  background-color: #1da1f2;
  padding: 8px 16px;
  margin: 10px 0 0 0;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
  border: 1px solid #3b88c3;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;}
.b-btn:hover {
  background-color: #0084B4;
}
.b-btn:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 132, 180, 0.5);
}

.global-nav .user-panel {
  float: right;

  .logout {
    line-height: 46px;
  }
}

.login-form {
  padding-top: 15px;
}

.alert {
  padding: 15px;
  margin: 0;
}
.alert.alert-error {
  color: red;
}
.alert.alert-success {
  color: green;
}
