body {background-color: #f5f8fa;}

svg.octopus {position: absolute; width: 24pt; height: 22pt; left: 50%;
  margin-left: -17pt; margin-top: 8px;}
svg.octopus g {stroke: #000; stroke-width: 0; transition: fill .3s ease-out;
  transform: translate(0, 406px) scale(0.1, -0.1);}
svg.octopus:hover g {/*fill: #005a9c;*/}

.container {position: relative; width: 890px; margin: 0 auto;}

.topbar {border-bottom: 1px solid #e1e8ed; position: fixed; top: 0; right: 0;
  left: 0; border-bottom: 1px solid rgba(0,0,0,0.05); z-index: 1000;}
.global-nav {background-color: #fff; border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 46px; position: relative; width: 100%;}
.global-nav .container {max-width: 890px; text-align: center; width: auto;}

.page-outer {height: 100%;}
.page-outer .wrapper {margin: 0 auto; min-height: 0; padding: 56px 23px 15px;
    position: relative; width: 890px;}

@media (min-width: 1236px) {
  .page-outer .wrapper-home {width: 1190px;}
  .global-nav .container {max-width: 1190px;}
}

.app-content {padding: 56px 14px 15px; position: relative;}
